<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroClassify</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/landing.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="../assets/logo.png" alt="AeroClassify Logo">
                <span class="brand-name">AeroClassify</span>
            </div>
            <ul id="navbar-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#classify">Classify</a></li>
                <li><a href="#analytics">Analytics</a></li>
                <li><a href="#insights">Insights</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a id="login-btn" class="auth-btn disabled" onclick="return false;">Login</a></li>
                <li><a id="signup-btn" class="auth-btn disabled" onclick="return false;">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Landing Page Section -->
    <main>
        <section class="landing-page">
            <div class="overlay"></div>
            <div class="text-content">
                <h1>AeroClassify</h1>
                <h2>Micro-Doppler Based Target Classification</h2>
                <p>
                    Experience cutting-edge Micro-Doppler technology with AeroClassify.
                    Our system delivers precise classification of drones and birds, empowering industries with enhanced safety,
                    efficient monitoring, and reliable situational awareness.
                </p>
                <button class="get-started-btn" onclick="goToMottoPage()" >Get Started</button>
            </div>
        </section>
    </main>
    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 AeroClassify. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
